<ion-view title="{{$root.title}}" id="page3" style="background-color:#6592CA;">
    <ion-content padding="true" class="has-header">
        <form id="feed-form2" class="list ">
            <label class="item item-input " id="feed-input2">
                <input type="text" placeholder="Post Something">
            </label>
            <button id="feed-button1" class=" button button-calm  button-block ">Post</button>
        </form>
        <div class="list card " id="feed-card21">
            <ion-item class="item-avatar  " id="feed-list-item7" ui-sref="tabsController.profile">
                <h2>Panda Gangster</h2>
            </ion-item>
            <ion-item id="feed-list-item9" ui-sref="tabsController.thePost">Sapa nmpk charger phone aku..==</ion-item>
        </div>
        <div class="list card " id="feed-card22">
            <ion-item class="item-avatar  " id="feed-list-item10" ui-sref="tabsController.profile">
                <h2>Mafia Boss</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item id="feed-list-item11" ui-sref="tabsController.thePost">Aku dah invent stapler baru!</ion-item>
        </div>
    </ion-content>
</ion-view>
